body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: white
}

table {
    border-collapse: collapse;
    width: 500px;
    height: 500px;
    border: 0;
    /* Weiße Border mit 5px Dicke für die Tabelle */
    border-spacing: 0;
    /* Um sicherzustellen, dass die Trennlinien nur innerhalb der Tabelle sind */
}

#content {
    position: relative;
}


h1 {
    font-size: 50px;
    margin-bottom: 100px;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

th,
td {
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 60px;
}

td {
    background-color: #323232;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

table td {
    border: 5px solid white;
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

.winning-line {
    position: absolute;
    background-color: white;
    z-index: 1;
}

button {
    margin: auto 0;
    background-color: #4CAF50; /* Hintergrundfarbe des Buttons */
    color: white;
    padding: 10px 20px; /* Innenabstand des Buttons */
    font-size: 16px;
    border: none;
    border-radius: 5px; /* abgerundete Ecken */
    cursor: pointer;
    transition: background-color 0.3s; /* fließender Übergang bei Hover */
}

button:hover {
    background-color: #45a049; /* Hintergrundfarbe ändern, wenn der Mauszeiger über dem Button schwebt */
}